/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@font-face {
  font-family: Noe;
  src: url(/fonts/FontsFree-Net-NoeDisplay-Bold.ttf);
  font-weight: bold;
}

/* !Global Style */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  color: #373a3c;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
  list-style: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* !Global Style End */

/* ?Container */
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90vw;
  border-radius: 3rem;
  margin-top: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: #6c63ff;
}

.firstpage {
  padding: 2rem 5rem;
  background-color: #6c63ff;
  z-index: 20;
}

.myservices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 5rem;
  padding-top: 0;
  padding-bottom: 7rem;
  position: relative;
  top: -10px;
}

.servicecards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.cardd {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30rem;
  height: 20rem;
  padding: 2rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 0.3px solid #6c63ff;
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.cardd p {
  margin-top: 0;
  text-align: justify;
  font-family: system-ui, -apple-system;
  color: #373a3c;
}

.cardspan {
  color: #6c63ff;
  font-size: 1.4rem;
}

.cardd:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, 0.2);
}

.meow img {
  width: 30rem;
}

/* ?Container End */

/* !Body Style*/
body {
  background: rgb(83, 0, 245);
  background: radial-gradient(
    circle,
    rgba(83, 0, 245, 0.5592830882352942) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* !Body Style End*/

/* ?Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  font-size: 1rem;
  font-family: serif;
}

.navbarfull {
  display: flex;
  height: 2rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

ul a {
  transition: all 0.5s;
  color: #fafafa;
}

ul li {
  color: #fafafa;
}

ul a:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.logo {
  display: flex;
  gap: 1rem;
  color: #373a3c;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
}

.logo h1 {
  font-size: 1.7rem;
  color: #fafafa;
}

.spanlogo {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
}

.logo img {
  width: 1.5rem;
}

/* ?Navbar End*/

/* !Contact Button */

.contactbutton {
  font-size: 1.3rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #6c63ff;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 24px;
  font-family: "Bebas Neue", cursive;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s;
  position: relative;
}

.contactbutton:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

/* !Contact Button End */

/* ?Introduction Page Hero */
.introduction {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.introtext {
  font-size: 3.5rem;
  color: #ffff;
  font-family: Noe;
  text-align: left;
}

.introtext2 {
  font-size: 1rem;
  color: #fafafae2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.intro_paragraph {
  color: #fafafad6;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: left;
}

.introname {
  padding: 1rem;
  text-align: center;
}

p {
  margin-top: 2rem;
  width: 90%;
  font-size: 1.3rem;
  color: #222224;
}

.leftpart {
  width: 50%;
}

.rightpart img {
  width: 40rem;
}

span {
  color: #fafafa;
  font-size: 5rem;
  font-family: Noe;
}

.spanclass {
  font-size: 5rem;
}

.spanclasss {
  font-size: 5rem;
  color: #fafafa;
  font-family: Noe;
}

.moreaboutme {
  appearance: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #6c63ff;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
  letter-spacing: 1.5px;
  font-family: "Bebas Neue", cursive;
  transition: all 0.5s;
  margin-top: 1rem;
}

.moreaboutme:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* ?Introduction Page Hero End*/

/* !Arrow and Waves */

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  margin-top: 2rem;
}

.arrow img {
  width: 4rem;
}

.wave {
  width: 100%;
  background-color: #6c63ff;
  margin-top: 5rem;
}

.wave2 {
  width: 100%;
  position: relative;
  top: -10px;
}

/* !Arrow and Waves End */

/* ?Section */

.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -150px;
}

.textabout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  top: -10px;
}

.priorities {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  isolation: isolate;
  padding: 5rem;
}

.priorities::after {
  content: "";
  background-color: #6c63ff;
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
  z-index: -1;
}

.textabout h1 {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
}

.prop_text {
  color: #fafafa;
}

.textabout span {
  font-size: 4rem;
  font-family: "Caveat", cursive;
  color: #6c63ff;
}

/* ?Pros */
.pros {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1.3rem;
  width: 90%;
}

/* !ProsDiv Components */
.prosdiv img {
  width: 10rem;
}

.prosdiv p {
  margin-top: 0;
  font-size: 15px;
  text-align: left;
}

.prosdiv h2 {
  text-transform: uppercase;
}

/* ?ProsDiv*/

.prosdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 30px;
  padding: 2rem 3rem;
  max-width: 25%;
  background-color: #fafafa;
}

.pros h2 {
  font-family: Noe;
}

/* !About Me  */

.me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.fullpart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  width: 90%;
}

.fullpart h1 {
  color: #ffbe55;
}

.rightme img {
  width: 30rem;
}

.leftme p {
  margin-top: 0;
}

.leftme {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rightme {
  gap: 1rem;
}

/* !Container for skill bars */
.containerr {
  width: 30rem;
  background-color: #ddd;
  border-radius: 10px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.html {
  width: 90%;
  background-color: #6c63ff;
  border-radius: 10px;
}

.html,
.css,
.php,
.sql,
.js,
.tailwind,
.react,
.bootstrap {
  padding-right: 1.5rem;
  font-weight: 900;
}

.css {
  width: 90%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.js {
  width: 65%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.php {
  width: 60%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.tailwind {
  width: 85%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.bootstrap {
  width: 80%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.react {
  width: 30%;
  background-color: #6c63ff;
  border-radius: 10px;
}
.sql {
  width: 75%;
  background-color: #6c63ff;
  border-radius: 10px;
}

/* !Portofolio */

.portofolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -50px;
}

.portofolio h1 {
  font-family: "Caveat", cursive;
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #fafafa;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

/* Cards */

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.card1 {
  background-color: #fff;
  width: 20rem;
  height: 20rem;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hoversvg {
  transition: 0.5s all;
}

.hoversvg:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.35rem;
  padding: 2rem;
  text-transform: uppercase;
  background-color: #6c63ff;
}

footer h1 {
  color: #fafafa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text {
  transform: translateY(100%);
}

/* !Mobile Responsive Code */

@media only screen and (max-width: 640px) {
  .row1,
  .pros,
  .servicecards,
  .fullpart {
    flex-direction: column;
  }

  .introduction {
    margin-top: 3rem;
    flex-direction: column-reverse;
    gap: 0;
  }

  .fullpart {
    gap: 0;
    max-width: 90%;
  }

  .prosdiv {
    max-width: 70%;
  }

  .containerr {
    width: 17rem;
  }

  .textabout h1 {
    font-size: 3rem;
    text-align: center;
  }

  .contactbutton {
    font-size: 1rem;
    text-align: center;
  }

  .textabout span {
    font-size: 2.3rem;
  }

  .arrow img {
    margin-top: 7rem;
    width: 5rem;
  }

  .rightpart img {
    width: 23rem;
  }

  .moreaboutme {
    width: 100%;
  }

  .introtext {
    font-size: 2.5rem;
    color: #fafafa;
    font-family: Noe;
    text-align: center;
  }

  .introtext2 {
    color: #fafafa;
    font-family: Noe;
    font-size: 0.7rem;
    text-align: center;
  }

  .intro_paragraph {
    font-size: 1rem;
    text-align: center;
  }

  .spanclass {
    font-size: 3rem;
    text-align: center;
  }

  .spanclasss {
    font-size: 3rem;
  }

  span {
    font-size: 2rem;
  }

  .leftpart {
    width: 100%;
    text-align: center;
  }

  .portofolio h1 {
    font-size: 3rem;
  }

  .wave {
    margin-top: 8rem;
  }

  .wave2 {
    top: -20px;
  }

  .card1 {
    width: 19rem;
  }
  .topnav a {
    display: none;
  }

  .container {
    width: 100vw;
    margin-top: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  .meow img {
    width: 20rem;
  }

  .servicecards {
    gap: 0;
  }

  .cardd {
    width: 22rem;
  }

  .cardd p {
    font-size: 1rem;
  }

  .priorities {
    padding: 5rem 0;
  }
}

/* !Mobile Responsive Code End */

.skillrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.skill {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 30px;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.skill img {
  width: 7rem;
  transition: all 0.5s;
}
